<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="name" value="kusubot" />
    <add key="nick" value="kusubot" />
    <add key="server" value="irc.freenode.net" />
    <add key="port" value="6667" />
    <add key="admin" value="kusuriya" />
    <add key="debug" value="false" />
    <add key="nickserv" value="false" />
    <add key="nickservusername" value="" />
    <add key="password" value="" />
    <add key="channels" value="#kusubot" />
    <add key="DBURI" value="Data Source=MonoBot.sqlite;Version=3" />
    <add key="BufferSize" value="2048" />
  </appSettings>
  <system.data>
    <!--
        NOTE: The extra "remove" element below is to prevent the design-time
              support components within EF6 from selecting the legacy ADO.NET
              provider for SQLite (i.e. the one without any EF6 support).  It
              appears to only consider the first ADO.NET provider in the list
              within the resulting "app.config" or "web.config" file.
    -->
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="System.Data.SQLite" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
</configuration>